name: github-proxy
on:
  release:
    types:
      - published

jobs:
  build:
    name: Upload github-proxy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to quay.io
        run: echo "${{ secrets.QUAY_PASSWORD }}" | docker login -u="${{ secrets.QUAY_USER }}" --password-stdin quay.io

      - name: Build the Docker image
        run: |
          IMAGE_NAME="quay.io/alitman_storage_ocs/github-proxy:${GITHUB_REF##*/}"
          docker build -t "${IMAGE_NAME}" .
          echo "IMAGE_NAME=${IMAGE_NAME}" >> $GITHUB_ENV

      - name: Push the Docker image
        run: |
          docker push "${{ env.IMAGE_NAME }}"

